<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Family Bible</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 SW7FT</string>
	<key>NSCameraUsageDescription</key>
	<string>Family Bible uses the camera when you attach a picture to a note, comment, devotion, or prayer.</string>
</dict>
</plist>
